body{
  font-size: 20px;
  background-color: lightyellow;
  color: darkblue;
  text-align: center;
  font-family: cursive;
  background-image: url("pinky.jpg");
  background-size: 100%;
}
p{
  text-align: center;
  border:solid 3px;
}

a{ 
  font-family: cursive;
  color: darkred;
}

h1{
  text-align: center;
  font-family: cursive;
  text-decoration: none;
  font-size: 50px;
  border: solid 5px;
  color: palevioletred;
}
.logo{
  border: solid 3px;
  border-color: darkcyan;
  margin: 30px 10px 15px 45px;
  height: 400px;
  width: 500px;
}
.middle-img{
  height: 100px;
  margin: 5px;
  border: double 5px;
  border-color: darkred;
}
.bottom-img{
  height: 100px;
  margin: 10px;
  border: double 5px;
}
strong{
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: red;
}
.topnav {
  overflow: hidden;
  background-color: navajowhite;
  border: solid 3px;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 20px;
  margin-right: 16px;
  font-size: 17px;
}
[class*="col-"] {
  width: 100%;
  font-family: sans-serif;
}
