body{
  font-size: 40px;
  background-color: lightcyan;
  color: darkred;
  font-family: cursive
}
h2{
  text-align: center;
  border: double;
}

h3{
  text-decoration: underline;
  color: palevioletred;
}

.top-img{
  float: left;
  height: 180px;
  width: 200px;
  border: solid 2px;
  margin-right: 5px;
  border-color: blue;
}
.middle-img{
  float:right;
  height: 180px;
  width:200px;
  border: solid 2px;
  margin-right: 5px;
  border-color: blue
}
a{ 
  font-family: cursive;
  color: darkslateblue;
}
