body{
  font-size: 30px;
  background-color: lightcyan;
  color:darkgreen;
  font-family: cursive;
  background-image: url("pinky.jpg");
  background-size: 100%;
}

h2{
  text-align: center;
  border: solid 3px;
}

h3{
  font-size: 30px;
  text-decoration: underline;
}

.top-img{
  float: left;
  height: 140px;
  width: 200px;
  border: solid 2px;
  margin-right: 5px;
}
.middle-img{
  float:right;
  height: 230px;
  width:220px;
  border: solid 2px;
  margin-right: 2px;
}
a{ 
  font-family: cursive;
  color: darkred;
}
.small-img{
  float: left;
  height:40px;
  width:40px;
  border: solid 1px;
  margin-right: 1px;
}
.tiny-img{
  float:right;
  height:40px;
  width:40px;
  border: solid 1px;
  margin-left: 1px; 
}
strong{
  text-decoration: underline;
  text-decoration-color: red;
}
