body{
  font-size: 40px;
  background-color: lightsteelblue;
  color:darkgreen;
  font-family: cursive
}
h2{
  text-align: center;
  border: dashed;
}

h3{
  font-size: 30px;
  text-decoration: underline;
}

.top-img{
  float: left;
  height: 200px;
  width: 200px;
  border: solid 2px;
  margin-right: 5px;
   margin-top:50px;
}
.middle-img{
  float:right;
  height: 200px;
  width:250px;
  border: solid 2px;
  margin-right: 5px;
  
}
a{ 
  font-family: cursive;
  color: darkred;
}
.small-img{
  float: left;
  height:100px;
  width:100px;
  border: solid 1px;
  margin-right: 1px;
}
.tiny-img{
  float:right;
  height:100px;
  width:100px;
  border: solid 1px;
  margin-left: 1px; 
}
strong{
  text-decoration: underline;
  text-decoration-color: red;
}
