body{
  font-size: 20px;
  background-color: lightyellow;
  color: darkblue;
  text-align: center;
  font-family: cursive;
}
p{
  text-align: center;
}

a{ 
  font-family: cursive;
  color: darkred;
}

h1{
  text-align: center;
  font-family: cursive;
  text-decoration: none;
  font-size: 50px;
  border: solid 5px;
  color: palevioletred;
}
.logo{
  border: solid 3px;
  border-color: darkcyan;
  margin: 30px 10px 15px 45px;
  height: 400px;
  width: 500px;
}
.middle-img{
  height: 100px;
  margin: 5px;
  border: double 5px;
  border-color: darkred;
}
.bottom-img{
  height: 100px;
  margin: 10px;
  border: double 5px;
}
strong{
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: red;
}
